body {
    font-family: Arial, sans-serif;
    background-color: red;
  }
  h1 {
    color: green;
  }
  .container {
    margin: 50px;
    padding: 30px;
    border: 1px solid black;
  }
  .centered-text {
    text-align: center;
  }
